body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ced0f5;
}

.login-button{
    position :absolute ;
    top:10px;
    right:10px;
    color:rgb(0, 0, 0);
    font-size: 18px;
    background-color:rgb(133, 192, 164);
    cursor : pointer ;
}
.login-button:hover{
  color:#ffffff;
}

header {
    background-color: #04234c;
    background-image: url("blueback.jpg") ;
    background-repeat: no-repeat;
    background-size : 1900px 150px ;
    color: #ffffff;
    padding: 30px 0;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
}

h1 {
    margin: 0;
}

nav {
    background-color: #031946;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration:none;
    text-align:left;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
}

/* Style the scrolling section container */
.scrolling-section {
    background-color: #9a97c3;
    border-radius: 5px;
    padding: 50px 0;
    overflow-x: hidden;
    overflow-y:auto;
    height: 400px; /* Set the height of the scrolling section */
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
    float : right ;
}
  
  /* Style the content inside the scrolling section */
  .content {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Style the heading inside the content */
  .content h2 {
    color: #000000;
  }

  /* Style the paragraph inside the content */
  .content p {
    color: #fafafa;
  }


/* popup 
  .container {
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
  }
  
  .option {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .popup {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f0f0f0;
    padding: 5px;
    border: 1px solid #ccc;
  }
*/

  /* image slideshow 
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .mySlides {
    display: none;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  */
  

/*footer*/  
footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 2px 0;
    position:fixed;
    bottom: 0;
    width: 100%;
}